.tabela{
    width: 50%;
}
th {
    background-color: tomato;
    padding: 5px;
}
.region {
    background-color: tomato;
}
td {
    background-color: whitesmoke
}
header {
    text-align: center;
}

body {
    background-color: floralwhite;
}
h1, h2 {
    text-align: center;
}
img.gameimg{
    width: 75;
    height: 75%;
}
img.nfl {
    width: 40%;
    height: 40%;
}
img.campoimg{
    margin-left: 15%;
    width: 70%;
    height: 70%;
}